.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    padding: 10px 50px;
}

.links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}